<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %X %highlight(%-5level) [%C{0}] %msg%n</pattern>
        </encoder>
    </appender>

<root level="WARN">
    <appender-ref ref="CONSOLE"/>
</root>

<logger name="com.margusmuru.opentelemetrydemo" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
</logger>


<logger name="org.springframework.ws" level="TRACE" additivity="false">
    <appender-ref ref="CONSOLE"/>
</logger>

</configuration>